{% extends 'base_candidate.html' %}

{% block title %}
Candidate Dashboard
{% endblock %}

{% block dashboard_active %}
active
{% endblock %}

{% block content %}

<style>

.hero{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.2);
    color:white;
    padding:40px;
    border-radius:20px;
}

.stat-card{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.2);
    color:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-8px);
}

.action-card{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.2);
    color:white;
    border-radius:20px;
    padding:30px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.quick-card{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.2);
    color:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
    height:100%;
}

.quick-card:hover{
    transform:translateY(-8px);
}

.circle-score{
    width:180px;
    height:180px;
    border-radius:50%;
    background:conic-gradient(
        #2563eb 0% 85%,
        #e5e7eb 85% 100%
    );
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
}

.circle-inner{
    width:130px;
    height:130px;
    border-radius:50%;
    background:white;
    color:#111827;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:32px;
    font-weight:bold;
}

.profile-avatar{
    width:50px;
    height:50px;
    border-radius:50%;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(10px);
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-size:20px;
}

</style>

<div class="d-flex justify-content-between align-items-center mb-4">

    <h3 class="text-white">
        Candidate Dashboard
    </h3>

    <div class="d-flex align-items-center">

        <div class="dropdown">

            <button
                class="btn btn-outline-light"
                data-bs-toggle="dropdown">

                🔔

            </button>

            <ul class="dropdown-menu">

                <li>
                    <a class="dropdown-item">
                        New Job Available
                    </a>
                </li>

                <li>
                    <a class="dropdown-item">
                        Resume Score Updated
                    </a>
                </li>

                <li>
                    <a class="dropdown-item">
                        Interview Feedback Ready
                    </a>
                </li>

            </ul>

        </div>

        <div class="profile-avatar ms-3">
            {{request.user.username|first|upper}}
        </div>

    </div>

</div>

<div class="hero mb-5">

    <h1>
        Welcome Back,
        {{request.user.username}} 👋
    </h1>

    <p class="mt-3">
        Analyze your resume, find jobs,
        practice interviews and grow
        your career with AI.
    </p>

</div>
<div class="row g-4">

    <div class="col-md-3">

        <div class="stat-card">

            <h5>Profile Completion</h5>

            <h2>95%</h2>

            <div class="progress mt-3">

                <div
                    class="progress-bar bg-success"
                    style="width:95%;">

                    95%

                </div>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="stat-card">

            <h5>Applied Jobs</h5>

            <h2>{{total_applied}}</h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="stat-card">

            <h5>Shortlisted</h5>

            <h2>{{shortlisted}}</h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="stat-card">

            <h5>Rejected</h5>

            <h2>{{rejected}}</h2>

        </div>

    </div>

</div>


<div class="row mt-5">

    <div class="col-md-6">

        <div class="stat-card text-center">

            <h4>📊 Resume Score</h4>

            <div class="circle-score mt-4" style="background: conic-gradient(#06b6d4 {{resume_score}}%,rgba(255,255,255,.15));">

                <div class="circle-inner">

                    {{resume_score}}%

                </div>

            </div>

            <p class="mt-3">

                Great! Your resume is stronger than most freshers.

            </p>

        </div>

    </div>
    <div class="col-md-6">

        <div class="stat-card">

            <h4>🎯 Resume Improvement Tips</h4>

            <ul class="mt-4">

                <li>✅ Add 2 more Projects</li>

                <li>✅ Add Certifications</li>

                <li>⚠️ Improve Skills Section</li>

                <li>🚀 Add Internship Experience</li>

            </ul>

        </div>

    </div>


</div>
<div class="action-card mt-4">

    <h3 class="mb-4">📈 Application Progress</h3>

    <div style="height:300px;">

        <canvas id="jobChart"></canvas>

    </div>

</div>


<div class="action-card mt-4">

    <h3>🕒 Recent Applications</h3>

    <table class="table table-dark mt-3">

        <thead>

            <tr>

                <th>Company</th>

                <th>Job</th>

                <th>Status</th>

            </tr>

        </thead>

        <tbody>

            {% for app in recent_applications %}

            <tr>

                <td>{{ app.job.company_name }}</td>

                <td>{{ app.job.title }}</td>

                <td>

                    {% if app.status == "Shortlisted" %}

                    <span class="badge bg-success">

                        Shortlisted

                    </span>

                    {% elif app.status == "Rejected" %}

                    <span class="badge bg-danger">

                        Rejected

                    </span>

                    {% else %}

                    <span class="badge bg-warning text-dark">

                        Pending

                    </span>

                    {% endif %}

                </td>

            </tr>

            {% empty %}

            <tr>

                <td colspan="3" class="text-center">

                    No Applications Yet

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>


<div class="action-card mt-4">

    <h3>🎯 Top Matching Jobs</h3>

    <div class="mt-4">

        {% for match in job_matches %}

        <div class="mb-4">

            <div class="d-flex justify-content-between">

                <span>{{ match.job.title }}</span>

                <span>{{ match.score }}%</span>

            </div>

            <div class="progress mt-2">

                <div
                    class="progress-bar bg-success"
                    style="width:{{ match.score }}%;">

                </div>

            </div>

        </div>

        {% empty %}

        <p>No Matching Jobs Found.</p>

        {% endfor %}

    </div>

</div>
<div class="action-card mt-5">

    <h3>🤖 AI Suggestions</h3>

    <div class="row mt-4">

        <div class="col-md-4">

            <div class="quick-card">

                <h5>📚 Learn DRF</h5>

                <p>
                    Improve your Django REST Framework skills to become a better backend developer.
                </p>

            </div>

        </div>

        <div class="col-md-4">

            <div class="quick-card">

                <h5>🏆 Add Certifications</h5>

                <p>
                    Add Python, Django and SQL certifications to improve your resume score.
                </p>

            </div>

        </div>

        <div class="col-md-4">

            <div class="quick-card">

                <h5>💼 Apply More Jobs</h5>

                <p>
                    Apply to more relevant jobs daily to increase interview opportunities.
                </p>

            </div>

        </div>

    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const ctx = document.getElementById("jobChart");

new Chart(ctx, {

    type: "line",

    data: {

        labels: [

            "Jan",

            "Feb",

            "Mar",

            "Apr",

            "May",

            "Jun"

        ],

        datasets: [{

            label: "Applications",

            data: [

                2,

                4,

                6,

                5,

                8,

                12

            ],

            borderWidth: 3,

            tension: 0.4,

            fill: true,

            backgroundColor: "rgba(37,99,235,.2)",

            borderColor: "#2563eb"

        }]

    },

    options: {

        responsive: true,

        maintainAspectRatio: false,

        plugins: {

            legend: {

                labels: {

                    color: "white"

                }

            }

        },

        scales: {

            x: {

                ticks: {

                    color: "white"

                },

                grid: {

                    color: "rgba(255,255,255,.15)"

                }

            },

            y: {

                beginAtZero: true,

                ticks: {

                    color: "white"

                },

                grid: {

                    color: "rgba(255,255,255,.15)"

                }

            }

        }

    }

});

</script>

{% endblock %}